.subbtn {
    width: 150px;
    height: 50px;
    border:none;
    font-size: 26px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: black;
    color: rgb(206, 206, 206);
}

.subbtn:hover {
    color: white;
}

#snackbar {
    visibility: hidden; 
    min-width: 250px; 
    margin-left: -125px; 
    background-color: rgb(0, 0, 0); 
    color: #fff; 
    text-align: center; 
    border-radius: 2px; 
    padding: 16px; 
    position: fixed; 
    z-index: 1; 
    left: 50%;
    top: 60%;
}
  
  
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
@-webkit-keyframes fadein {
    from {top: 50%; opacity: 0;}
    to {top: 60%;; opacity: 1;}
}
  
@keyframes fadein {
    from {top: 50%; opacity: 0;}
    to {top: 60%;; opacity: 1;}
  }
  
@-webkit-keyframes fadeout {
    from {top: 60%;; opacity: 1;}
    to {top: 50%; opacity: 0;}
}
  
@keyframes fadeout {
    from {top: 60%;; opacity: 1;}
    to {top: 50%; opacity: 0;}
}